#blue-button{
  -fx-border-width: 5px;
  -fx-fill: #ff0000;
  -fx-background-color: #6c63ff;
	-fx-background-radius: 10px;
	-fx-padding: 8px;
  -fx-text-fill: white;
}
#purple-button{
	-fx-border-width: 0px;
	-fx-background-color: #fa6f66;
	-fx-background-radius: 10px;
	-fx-padding: 8px;
	-fx-text-fill: white;
}

#welcome-text {
 -fx-font-size: 30px;
 -fx-font-weight: bold;
 -fx-text-fill: green;
}